body { 
	font-family: Arial, sans-serif; 
	padding: 20px; 
	color: white; 
	background-color: black;
}       
table { 
	width: 100%; border-collapse: collapse; margin-top: 20px; 
}	
th, td { 
	border: 1px solid #ddd; 
	padding: 8px; 
	text-align: left; 
}
th { 
	background-color: #f2f2f2; 
	color: black;
}
#form-aluno { 
	margin-bottom: 30px; 
	padding: 15px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
}
input, button { 
	padding: 10px; 
	margin: 5px 0; 
}
button { 
	cursor: pointer; 
	background-color: #4CAF50; 
	color: black; 
	border: none; 
	border-radius: 4px; 
}
.cancel-btn { 
	background-color: #f44336; 
	margin-left: 10px; 
}